* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
/*** header ***/
header {
    background-color: red;
}

.nav {
    padding-top: 57px;
}

nav ul {
    list-style-type: none;
}


.logo-img img{
    width: 108px;
    height: 27px;
    padding-top: 57px;
    padding-left: 265px;
}

.search-icon {
    width: 23px;
    height: 23px;
}

/*** about us section ***/
.text-about-us {
    font-family: Raleway - Extra Light;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-top: 110px;
    text-align: center;
}

.green-line {
    width: 30px;
    height: 1px;
    background-color: #17daa3;
    margin-top: 87px;
    margin-bottom: 56px;
    margin-right: auto;
    margin-left: auto;
}

.text-about-us-2 {
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    text-align: center;
    margin-bottom: 156px;
}

/*** 4cirlce section ***/
.grey-circle {
    width: 182px;
    height: 182px;
    background-color: #EDEFF0;
    border-radius: 50%;
    z-index: -2;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.grey-circle:hover {
    background-color: #17daa3;
}

.grey-circle img {
    width: 53px;
    height: 53px;
    z-index: 100;
    display: block;
    margin: 0 auto;
}

.lo-ip-cirle {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 96px;
    font-family: Raleway;
    text-align: center;
    display: block;
}
.text-circle {
    color: #87949e;
    font-size: 18px;
    font-family: Proxima Nova;
    width: 292px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.45px;
    text-align: center;
    display: block;

}

.button-learn-more {
    width: 183px;
    height: 47px;
    background-color: #17daa3;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 24px;
    margin-bottom: 108px;
    margin-top: 106px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*** left-photo section ***/
.left-photo {
    height: 703px;
}
/*** right-photo section ***/
.right-photo {
    height: 703px;
}
/*** testimonials section ***/

/*** our section ***/

/*** team section ***/
.squre {
    width: 20%;
    height: 400px;
}

/*** pricing section ***/
.green-box-shop {
    width: 345px;
    height: 73px;
    background-color: #17daa3;
    cursor: pointer;
}

/*** footer ***/
.try-psd {
    background-image: url("img/try-our-template.png");
    height:757px;
    width: 2000px;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

.button-footer {
    width: 183px;
    height: 47px;
    background-color: #17daa3;
    color: white;
    cursor: pointer;
    border: 2px solid #17daa3;
    border-radius: 24px;
    margin-bottom: 108px;
    margin-top: 106px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.li-footer li {
    list-style-type: none;
}

.li-footer li a {
    font-size: 18px;
    font-weight: 400;
    color: #87949e;
    text-transform: capitalize;
    letter-spacing: 0.45px;
    line-height: 96px;
}

.footer-text {
    font-size: 18px;
    font-weight: 400;
    color: #87949e;
    letter-spacing: 0.45px;
}